<html ng-app='arrayApp'>
	<body ng-controller = 'arrayController'>

		<input type='text' ng-model="peopleFilter" />
		<div ng-repeat="person in people | filter: peopleFilter">
			<ul>
				<li>{{person.name}}</li>
				<li>{{person.email}}</li>
				<li>{{person.dateEmployed}}</li>
				<li>{{person.phone}}</li>
			</ul>
		</div>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>